*{
    padding: 0px;
    margin: 0px;
    text-align: center;
}
h1{
    background-color: #4f0c3e;
    color: white;
    height: 5rem;
    display: flex;
    font-size: 300%;
    justify-content: center;
    align-items: center;
}
.choice{
    height: 165px;
    width: 165px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.choice:hover{
    cursor: pointer;
    background-color: #4f0c3e;
}
img{
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
    
}
.choices{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-top: 100px;
}
.score-board{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-top: 50px;
    font-size: 2rem;
}
#user-score, #com-score{
    font-size: 4rem;
}
#user-score{
    color: green;
}
#com-score{
    color: red;
}
.message-container{
    margin-top: 5rem;
}
#message{
    color: white;
    background-color: #081b31;
    font-size: 2rem;
    display: inline;
    padding: 1rem;
    border-radius: 1rem;
}